@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.shoes-backg{
    background-color: seashell;
}
.textcolor{
    color: orangered;
}
.hrdbackgrund{
    background-color: #FFF9F4;
}